// Colors
$clr1: burlywood;
$clr2: #377D6A;
$clr3: rgb(238, 203, 157);
$clr4: #2f3542;
$clr5: #574f7d;
$clr6: #2f2f2f;
$clr7: #fff;
$clr8: rgba(255, 255, 255, 0.26);

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
$xwide-breakpoint: 2560px;